* {
    
}

body {
    display: flex;
    margin: 0px;

    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-family: "Anton";
    font-size: 20px;
    
}

.information {
    display: flex;
    justify-content: center;
    align-self: stretch;
    min-height: 300px;
    color: #F9FAF8;
    padding: 100px 100px 0px 100px;
    background-color: #1F2937;
    gap: 60px;
}

.subtitle {
    display: flex;
    font-family: "Anton";
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.Logo{
    font-family: "Anton";
    font-weight: 100;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1F2037;
    justify-content: space-between;
    color: #F9FAF8;
    padding: 0px 100px 0px 100px;
}

.right-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.information-button {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.infographics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 750px;
    min-width: 750px;
}

.image {
    width: 100px;
    word-wrap: break-word;
    border: 5px solid darkred;
    border-radius: 15px;
    text-align: center;
}

.text{
    max-width: 100px;
}

.quotes {
    display: flex;
    justify-content: center;
    background: lightgray;
}

.quotes h1 {
    color: rgb(78, 78, 78);
}

.quotes h2 {
    display: flex;
    justify-content: flex-end;
}

.quotes-container {
    max-width: 750px;
}