/** {
    border: 5px solid darkred;
}*/

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-family: "Anton";
    font-size: 20px;
}

.left-information {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
}

.left-information h3 {
    font-weight: 200;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 100px 100px 100px 100px;
    background-color: #000000;
    gap: 60px;
    flex-wrap: wrap;
}

.subtitle {
    display: flex;
    font-family: "Anton";
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.logo{
    font-family: "Anton";
    font-weight: 100;
}

.header {
    display: flex;
    flex: 1;
    background-color: rgb(145, 44, 44);
    justify-content: space-between;
    color: #F9FAF8;
    padding: 0px 100px 0px 100px;
    
}

.right-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.information-button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin: 20px 0px 20px 0px;
    font-weight: bolder;
}

.information .information-button{
    background-color: rgb(145, 44, 44);
}

.container .information-button {
    border: 3px solid white;
    background-color: rgb(145, 44, 44);
}


.infographics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.image {
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    border: 5px solid darkred;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    object-fit: cover;
}

.text{
    font-size: larger;
    width: 200px;
    color: rgb(114, 35, 35);
}

.quotes {
    display: flex;
    justify-content: center;
    background: #f28c28;
    background: rgb(0, 0, 0);
}

.quotes h1 {
    color: white;
}

.quotes h2 {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.quotes-container {
    max-width: 750px;
    padding: 50px;
}

.signup-text h3, .signup-text h4 {
    padding: 0px;
    margin: 0px;
}

.signup-text h4 {
    font-weight: 100;
    max-width: 500px;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    margin: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(145, 44, 44);
    border-radius: 7px;
    max-width: 750px;
    flex-wrap: wrap;
    gap: 30px;
}

.footer {
    background-color: rgb(145, 44, 44);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.test {
    display: flex;
    border: 5px solid green;
    flex: 1;
}