body {
    display: flex;
    margin: 0px;
    border: 5px solid blue;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-family: "Anton";
    font-size: 20px;
    
}

.information {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    align-self: stretch;
    min-height: 300px;
    color: #F9FAF8;
    padding: 100px;
    background-color: #1F2937;
}


.right-information{
    
}

.subtitle {
    display: flex;
    font-family: "Anton";
    font-weight: 100;
}

.Logo{
    font-family: "Anton";
    font-weight: 100;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    justify-content: space-between;
    color: #F9FAF8;
    padding: 0px 30px 0px 30px;
}

.right-links {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 5px solid purple;
}

.information-button {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.images {
    display: flex;
    justify-content: space-around;
}